* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 50%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 94%, 39%);

  --font-sans: 'Montserrat', 'sans-serif';
  --font-sm: 0.5rem;
  --font-md: 0.75rem;
  --font-lg: 1.25rem;

  --half: 0.5rem;

  --color-marker: hsl(0, 12%, 48%);
  --color-caret: hsl(60, 100%, 27%);
  --color-outline: hsl(180, 100%, 27%);
  --color-button-action: hsl(0, 59%, 41%);
  --color-success: hsl(82, 66%, 18%);
  --color-error: hsl(6, 87%, 29%);
  --color-button: hsl(210, 12%, 16%);
  --color-button__disable: hsl(210, 14%, 22%);
  --color-button__add: hsl(0, 0%, 100%);
  --color-button__remove: hsl(332, 18%, 38%);
  --color-domain: hsl(9, 6%, 30%);
  --color-instruction: hsl(270, 42%, 63%);

  --bg-parameter-focus: hsl(60, 54%, 95%);
  --bg-button: hsl(210, 25%, 98%);
  --bg-button__disable: hsl(210, 25%, 88%);
  --bg-button__hover: hsl(210, 14%, 98%);
  --bg-button__action: hsl(33, 100%, 88%);
  --bg-button__reset: hsl(208, 14%, 85%);
  --bg-button__remove: hsl(343, 61%, 85%);
  --bg-button__add: hsl(224, 40%, 48%);
  --bg-success: hsl(82, 66%, 85%);
  --bg-error: hsl(0, 66%, 92%);
  --bg-domain-list: hsl(55, 37%, 98%);

  --border-parameter: hsl(0, 0%, 66%);
  --border-parameter-focus: hsl(312, 83%, 63%);
  --border-button: hsl(210, 13%, 15%);
  --border-button__disable: hsla(210, 13%, 12%, 0.15);
  --border-first: hsl(213, 91%, 36%);
  --border-second: hsl(14, 100%, 57%);
  --border-input: hsl(232, 57%, 83%);
  --button-add__hover: hsl(0, 59%, 41%);
}

html {
  font-size: 16px; /* root font size*/
  font-family: var(--font-sans, system-ui);
  line-height: 1.4;
}

body {
  /*outline: 1px solid red;*/
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

a {
  color: var(--link-color, blue);
}

mark {
  font-size: 1rem;
}

[contenteditable] {
  caret-color: var(--color-caret);
}

::marker {
  color: var(--color-marker);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.block {
  display: block;
}

.hide {
  display: none;
}
