.popup--container {
  margin: 0;
  width: 15rem;
  background-color: #efe593cc;
  color: blueviolet;
  font-size: 1rem;
}

.popup--body {
  padding: 0.5rem;
}

.btn--option {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  cursor: pointer;
}
